* {
  box-sizing: border-box;
}

html,
body {
  font-size: 13px;
}

body {
  font-family: 'open sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #3f4a66;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  border-radius: 3px;
}

h1 {
  font-size: 30px;
}

a,
.is-link {
  color: #3b99fc;
  text-decoration: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
}

ol,
ul {
  line-height: 22px;

  &:last-child {
    margin-bottom: 0;
  }
}

#root {
  position: relative;
  height: 100%;

  section {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);

    &:nth-of-type(even) {
      background: #f5f7f9;
      z-index: 30;
    }

    &:first-of-type {
      box-shadow: none;
    }
  }
}

#hs-eu-cookie-confirmation {
  display: none;
}

@keyframes blockIntro {
  from {
    bottom: -20px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
.HeroBlock {
  transition: all 0.25s;
  opacity: 0;
  bottom: -20px;

  animation-name: blockIntro;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;

  &:hover {
    margin-top: -3px;
  }
  &.block-one {
    animation-delay: 0.75s;
  }
  &.block-two {
    animation-delay: 1s;
  }
  &.block-three {
    animation-delay: 1.25s;
  }
  &.block-four {
    animation-delay: 1.5s;
  }
}

.platform-block-triangle {
  width: 0;
  height: 0;
  border-left: 0px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 0px solid rgba(255, 255, 255, 0.1);
  position: absolute;

  &.triangle-one {
    border-left-width: 80px;
    border-right-width: 80px;
    border-bottom-width: 80px;
    top: -20px;
    right: -70px;
    transform: rotate(55deg);
  }
  &.triangle-two {
    border-left-width: 170px;
    border-right-width: 70px;
    border-bottom-width: 130px;
    top: 80px;
    right: -90px;
    transform: rotate(70deg);
  }
  &.triangle-three {
    border-left-width: 20px;
    border-right-width: 70px;
    border-bottom-width: 130px;
    bottom: -82px;
    left: -27px;
    transform: rotate(171deg);
  }
  &.triangle-four {
    border-left-width: 80px;
    border-right-width: 60px;
    border-bottom-width: 70px;
    top: -20px;
    right: -30px;
    transform: rotate(192deg);
  }
}

.hubs-table {
  border-spacing: 0;
  border: 0 none;
  width: 100%;
  th {
    border: 1px solid #777;
    padding: 20px;
    font-weight: normal;
    &:nth-child(n + 2) {
      width: 20%;
      text-align: center;
    }
  }
  td {
    border: 1px solid #777;
    padding: 20px;
    font-weight: normal;
    &:nth-child(n + 2) {
      width: 20%;
      text-align: center;
    }
  }
}

.markdown-body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  word-wrap: break-word;
  font-size: 15px;
  max-width: 760px;
  position: relative;

  .table-of-contents {
    &:before {
      content: 'CONTENTS';
      padding-left: 1.8em; // Same as "ol" tag
    }

    position: sticky;
    top: 80px;
    right: 0;
    float: right;
    margin-right: -250px;
    width: 200px;
    font-size: 11px;
    color: rgba(19, 15, 33, 0.4);
    border-left: 1px solid rgba(0, 0, 0, 0.1);

    @media only screen and (max-width: 1007px) {
      display: none;
    }

    ol {
      list-style-type: none;

      &:first-child {
        margin-bottom: 0;
        margin-top: 5px;
      }

      > li > ol {
        list-style-type: upper-roman;

        > li > ol {
          list-style-type: lower-roman;
        }
      }
    }

    li > a {
      color: rgba(19, 15, 33, 0.4);
      font-weight: bold;
    }
  }
}

.case-study {
  max-width: 100%;
}

.markdown-body s {
  text-decoration: line-through;
}

.markdown-body .octicon {
  display: inline-block;
  vertical-align: text-top;
  fill: currentColor;
}

.markdown-body a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

.markdown-body a:active,
.markdown-body a:hover {
  outline-width: 0;
}

.markdown-body strong {
  font-weight: inherit;
}

.markdown-body strong {
  font-weight: bolder;
}

.markdown-body svg:not(:root) {
  overflow: hidden;
}

.markdown-body [type='checkbox'] {
  box-sizing: border-box;
  padding: 0;
}

.markdown-body * {
  box-sizing: border-box;
}

.markdown-body input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  overflow: visible;
}

.markdown-body a {
  color: #0366d6;
  text-decoration: none;
}

.HtmlViewer a:hover:not(.anchor),
.markdown-body a:hover:not(.anchor) {
  text-decoration: underline;
}

.markdown-body strong {
  font-weight: bold;
}

.markdown-body hr {
  height: 0.25em;
  padding: 0;
  margin: 30px;
  background-color: #777;
  border: 0;
  box-sizing: content-box;
  overflow: visible;
}

.markdown-body hr::before {
  display: table;
  content: '';
}

.markdown-body hr::after {
  display: table;
  clear: both;
  content: '';
}

.markdown-body table {
  border-spacing: 0;
  border-collapse: collapse;
}

.markdown-body td,
.markdown-body th {
  padding: 0;
  text-align: left;
  vertical-align: top;
}

.markdown-body p {
  margin-top: 0;
  margin-bottom: 14px;
  line-height: 2.2;

  &:last-child {
    margin-bottom: 0;
  }
}

.markdown-body li code,
.markdown-body p code {
  color: #e74c3c;
}

.markdown-body blockquote {
  margin: 0;
  line-height: 1.6;
}

.markdown-body ul,
.markdown-body ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 2.2;
}

.markdown-body ol ol,
.markdown-body ul ol {
  list-style-type: lower-roman;
}

.markdown-body ul ul ol,
.markdown-body ul ol ol,
.markdown-body ol ul ol,
.markdown-body ol ol ol {
  list-style-type: lower-alpha;
}

.markdown-body dd {
  margin-left: 0;
}

.markdown-body::before {
  display: table;
  content: '';
}

.markdown-body::after {
  display: table;
  clear: both;
  content: '';
}

.markdown-body > *:first-child {
  margin-top: 0 !important;
}

.markdown-body > *:last-child {
  margin-bottom: 0 !important;
}

.markdown-body a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.HtmlViewer .anchor,
.markdown-body .anchor {
  color: transparent;
  float: left;
  line-height: 1;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -15px;
  width: 30px;
  padding: 5px;
}

.HtmlViewer .anchor:focus,
.markdown-body .anchor:focus {
  outline: none;
}

.markdown-body p,
.markdown-body blockquote,
.markdown-body ul,
.markdown-body ol,
.markdown-body dl,
.markdown-body table,
.markdown-body pre {
  margin-top: 0;
  margin-bottom: 16px;
}

.markdown-body blockquote {
  padding: 0 1em;
  color: #6a737d;
  border-left: 0.25em solid #777;
}

.markdown-body blockquote > :first-child {
  margin-top: 0;
}

.markdown-body blockquote > :last-child {
  margin-bottom: 0;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  font-weight: bold;
  line-height: 1.25;
  position: relative;
}

.markdown-body h1 .octicon-link,
.markdown-body h2 .octicon-link,
.markdown-body h3 .octicon-link,
.markdown-body h4 .octicon-link,
.markdown-body h5 .octicon-link,
.markdown-body h6 .octicon-link {
  color: #1b1f23;
  vertical-align: middle;
  visibility: hidden;
}

.markdown-body h1:hover .anchor,
.markdown-body h2:hover .anchor,
.markdown-body h3:hover .anchor {
  text-decoration: none;
  color: #666;
}

.markdown-body a.anchor:hover {
  text-decoration: none;
  color: #666;
}

.markdown-body h1 {
  font-size: 28px;
  margin: 70px 0 24px 0;
  font-weight: bolder;
  position: relative;

  .anchor {
    margin-top: -11px;
  }

  &::before {
    content: ' ';
    position: absolute;
    top: -30px;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #777;
  }

  &:first-of-type,
  &:first-child {
    margin: 0 0 1.5em 0;
    padding: 0;

    &::before {
      display: none;
    }
  }
}

.markdown-body h2 {
  font-size: 20px;
  margin-top: 24px;
  margin-bottom: 16px;
  padding-bottom: 0.3em;
}

.markdown-body h3 {
  font-size: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.markdown-body h4 {
  font-size: 13px;
  margin-top: 13px;
  margin-bottom: 13px;
}

.markdown-body h5,
.markdown-body h6 {
  font-size: 11px;
  margin-top: 11px;
  margin-bottom: 11px;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  &:first-child {
    display: inline-block;
    margin-top: 0;
  }
}

.markdown-body h6 {
  color: #6a737d;
}

.markdown-body ul,
.markdown-body ol {
  padding-left: 1.8em;
}

.markdown-body ul ul,
.markdown-body ul ol,
.markdown-body ol ol,
.markdown-body ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

.markdown-body li > p {
  margin-top: 16px;
}

.markdown-body li + li {
  margin-top: 0.25em;
}

.markdown-body dl {
  padding: 0;
}

.markdown-body dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
}

.markdown-body dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

.markdown-body table {
  display: block;
  max-width: 100%;
  overflow: auto;
}

.markdown-body thead,
.markdown-body body {
  border-left: 1px solid #777;
  border-right: 1px solid #777;
}

.markdown-body table th {
  font-weight: bolder;
  white-space: nowrap;
}

.markdown-body table th,
.markdown-body table td {
  padding: 6px 13px;
  border: 1px solid #777;

  &:first-child {
    border-left: none;
  }

  &:last-child {
    border-right: none;
  }
}

.markdown-body table tr {
  background-color: #fff;
  border-top: 1px solid #777;
}

.markdown-body table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

.markdown-body img {
  box-sizing: content-box;
  background-color: #fff;
  border-style: none;
  box-shadow: 0 0px 3px rgba(black, 0.3);
  border-radius: 2px;
  display: block;
  max-width: 100%;
  max-height: 500px;
  margin: auto;
}

.markdown-body img + strong,
.markdown-body img + em {
  display: block;
  text-align: center;
  font-size: 0.85em;
}

.markdown-body .highlight {
  margin-bottom: 16px;
}

.markdown-body code,
.markdown-body kbd,
.markdown-body pre {
  white-space: pre-wrap;
}

.markdown-body pre {
  padding: 16px 18px;
  overflow: auto;
  background-color: #f6f8fa;
  border-radius: 2px;
  word-break: normal;
  word-wrap: normal;
  border-radius: 2px;
}

.markdown-body pre code {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  word-break: break-word;
  background: transparent;
  border: 0;
}

.markdown-body pre code::before,
.markdown-body pre code::after {
  content: normal;
}

.markdown-body code {
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 2px;
}

.markdown-body code::before,
.markdown-body code::after {
  letter-spacing: -0.2em;
  content: '\00a0';
}

.markdown-body .full-commit .btn-outline:not(:disabled):hover {
  color: #005cc5;
  border-color: #005cc5;
}

.markdown-body :checked + .radio-label {
  position: relative;
  z-index: 1;
  border-color: #0366d6;
}

.markdown-body .task-list-item {
  list-style-type: none;
}

.markdown-body .task-list-item input:checked + label {
  text-decoration: line-through;
}

.markdown-body .task-list-item + .task-list-item {
  margin-top: 3px;
}

.markdown-body .task-list-item input {
  margin: 0 0.2em 0.25em -1.6em;
  vertical-align: middle;
}

code[class*='language-'],
pre[class*='language-'] {
  color: black;
  background: none;
  direction: ltr;
  text-align: left;
  white-space: pre-wrap;
  word-spacing: normal;
  word-break: break-word;
  word-wrap: normal;
  tab-size: 4;
  hyphens: none;
}

@media print {
  code[class*='language-'],
  pre[class*='language-'] {
    text-shadow: none;
  }
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

.token.punctuation {
  color: #999;
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #a67f59;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}

.token.function {
  color: #dd4a68;
}

.token.regex,
.token.important,
.token.variable {
  color: #e90;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

div.prism-show-language {
  position: relative;
}

div.prism-show-language > div.prism-show-language-label {
  color: black;
  background-color: #cfcfcf;
  display: inline-block;
  position: absolute;
  bottom: auto;
  left: auto;
  top: 0;
  right: 0;
  width: auto;
  height: auto;
  font-size: 0.9em;
  border-radius: 0 0 0 5px;
  padding: 0 0.5em;
  text-shadow: none;
  z-index: 1;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}

pre.line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber;
}

pre.line-numbers > code {
  position: relative;
  white-space: inherit;
}

.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: -2px;
  font-size: 100%;
  left: -3.8em;
  width: 3em; /* works for line-numbers below 1000 lines */
  letter-spacing: -1px;
  border-right: 1px solid #777;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.line-numbers-rows > span {
  pointer-events: none;
  display: block;
  counter-increment: linenumber;
}

.line-numbers-rows > span:before {
  content: counter(linenumber);
  color: #999;
  display: block;
  padding-right: 0.8em;
  text-align: right;
}

.line-highlight {
  position: absolute;
  left: 0;
  right: 0;

  // background: hsla(24, 20%, 50%,.08);
  background: linear-gradient(to right, hsla(24, 20%, 50%, 0.1) 70%, hsla(24, 20%, 50%, 0));

  pointer-events: none;

  line-height: inherit;
  white-space: pre;
}

.line-highlight:before,
.line-highlight[data-end]:after {
  content: attr(data-start);
  position: absolute;
  top: 0.4em;
  left: 0.6em;
  min-width: 1em;
  padding: 0 0.5em;
  background-color: hsla(24, 20%, 50%, 0.4);
  color: hsl(24, 20%, 95%);
  font: bold 65%/1.5 sans-serif;
  text-align: center;
  vertical-align: 0.3em;
  border-radius: 999px;
  text-shadow: none;
  box-shadow: 0 1px white;
}

.line-highlight[data-end]:after {
  content: attr(data-end);
  top: auto;
  bottom: 0.4em;
}

.line-numbers .line-highlight:before,
.line-numbers .line-highlight:after {
  content: none;
}

.max-h-50 {
  max-height: 50px;
}

.Highlight {
  font-size: 1em;
}

code[class*='language-'],
pre[class*='language-'] {
  color: black;
  background: none;
  direction: ltr;
  text-align: left;
  white-space: pre-wrap;
  word-spacing: normal;
  word-break: break-word;
  word-wrap: normal;
  tab-size: 4;
  hyphens: none;
}

@media print {
  code[class*='language-'],
  pre[class*='language-'] {
    text-shadow: none;
  }
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

.token.punctuation {
  color: #999;
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #a67f59;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}

.token.function {
  color: #dd4a68;
}

.token.regex,
.token.important,
.token.variable {
  color: #e90;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

div.prism-show-language {
  position: relative;
}

div.prism-show-language > div.prism-show-language-label {
  color: black;
  background-color: #cfcfcf;
  display: inline-block;
  position: absolute;
  bottom: auto;
  left: auto;
  top: 0;
  right: 0;
  width: auto;
  height: auto;
  font-size: 0.9em;
  border-radius: 0 0 0 5px;
  padding: 0 0.5em;
  text-shadow: none;
  z-index: 1;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}

pre.line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber;
}

pre.line-numbers > code {
  position: relative;
  white-space: inherit;
}

.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: -2px;
  font-size: 100%;
  left: -3.8em;
  width: 3em; /* works for line-numbers below 1000 lines */
  letter-spacing: -1px;
  border-right: 1px solid lightgrey;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.line-numbers-rows > span {
  pointer-events: none;
  display: block;
  counter-increment: linenumber;
}

.line-numbers-rows > span:before {
  content: counter(linenumber);
  color: #999;
  display: block;
  padding-right: 0.8em;
  text-align: right;
}

.line-highlight {
  position: absolute;
  left: 0;
  right: 0;

  // background: hsla(24, 20%, 50%,.08);
  background: linear-gradient(to right, hsla(24, 20%, 50%, 0.1) 70%, hsla(24, 20%, 50%, 0));

  pointer-events: none;

  line-height: inherit;
  white-space: pre;
}

.line-highlight:before,
.line-highlight[data-end]:after {
  content: attr(data-start);
  position: absolute;
  top: 0.4em;
  left: 0.6em;
  min-width: 1em;
  padding: 0 0.5em;
  background-color: hsla(24, 20%, 50%, 0.4);
  color: hsl(24, 20%, 95%);
  font: bold 65%/1.5 sans-serif;
  text-align: center;
  vertical-align: 0.3em;
  border-radius: 999px;
  text-shadow: none;
  box-shadow: 0 1px white;
}

.line-highlight[data-end]:after {
  content: attr(data-end);
  top: auto;
  bottom: 0.4em;
}

.line-numbers .line-highlight:before,
.line-numbers .line-highlight:after {
  content: none;
}

.Banner {
  a {
    color: white;
  }
}

.ease-in {
  transition: all 0.25s ease-in;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
}
